<!-- upload.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MMDb</title>
    <style>

        html {
            height: auto;
        }

        *, *:before, *:after {
            box-sizing: border-box;
        }

        body {
            font-family: Gopher, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #0F0F0F;
            overflow: hidden;
            position: relative;
            min-height: 100vh;
            max-width: 100%;
            width:100%;
        }

        /* For Webkit browsers */
        ::-webkit-scrollbar {
            display: none;
        }

        /* For Firefox */
        body {
            scrollbar-width: none;
        }

        /* For IE */
        -ms-overflow-style: none;

        .container {
            position: relative;
        }

        h1 {
            padding-top:80px;
            text-align: center;
            color: lightgrey;
            font-size: 5em;
            margin: 0;
            position: sticky;
            top: -80px;
        }

        img {
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            position: absolute;
            max-width: 20%;
            height: auto;
            z-index: -100;
            opacity: 50%;
        }

        #img1 {
            top: 70px;
            left: 70px;
        }
        #img2 {
            top: 150px;
            left: 1100px;
        }
        #img3 {
            top: 400px;
            left: 800px;
        }
        #img4 {
            top: 500px;
            left: 250px;
        }
        #img5 {
            top: -100px;
            left: 600px;
        }

        form {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .file-input {
            visibility: hidden;
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }

        a, .custom-file-input{
            border-radius: 10%;
            position: relative;
            display: inline-block;
            padding: 3px 6px;
            font-weight: bold;
            text-decoration: none;
            color: #7f9eb9;
            transition: 0.5s;
            overflow: hidden;
            margin-left: 20px;
            margin-right: 20px;
            cursor: pointer;
        }
        #google-auth {
            margin-bottom: 20px
        }
        a:hover, .custom-file-input:hover{
            transition: 0.5s;
            background-color: #7f9eb9;
            color: #050801;
            box-shadow: 0 0 5px #7f9eb9,
            0 0 10px #7f9eb9,
            0 0 20px #7f9eb9,
            0 0 30px #7f9eb9;
            -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        }
        [disabled] {
            opacity: .6;
            cursor: default;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #333;
        }

        #buttons{
            text-align: center;
            margin-top:5%;
        }

        .login {
            padding: 25px;
        }

        .auth{
            display:flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
        }
        .authLink {
            padding:10px;
            width: fit-content;
        }

        .hidden {
            opacity:0;
            cursor: default;
            pointer-events: none;
            user-select: none;
        }

        .cred {
            align-items: center;
            text-align: center;
            transform-origin: -150px;
        }

        #signupCred {
            z-index:-2;
        }

        label, input {
            margin: 10px;
        }

        .rememberMe {
            display:flex;
            justify-content: center;
        }

        input, p {
            font-size: 16px;
            border: none;
            background: none;
            border-radius: 10%;
            position: relative;
            display: inline-block;
            padding: 3px 6px;
            font-weight: bold;
            text-decoration: none;
            color: #7f9eb9;
            transition: 0.5s;
            overflow: hidden;
            margin-left: 20px;
            margin-right: 20px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
             transition: 0.5s;
             background-color: #7f9eb9;
             color: #050801;
             box-shadow: 0 0 5px #7f9eb9,
             0 0 10px #7f9eb9,
             0 0 20px #7f9eb9,
             0 0 30px #7f9eb9;
             -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
         }
        input[type="text"], input[type="password"] {
            border: solid 1px white;
        }
        input[type="file"] {
            display: none;
        }
        #or {
            padding: 2px;
            margin:0;
            cursor: default;
        }

        .back {
            display:flex;
            justify-content: center;
            align-items: center;
        }

        @keyframes slide-out-bottom {
            0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
            }
            100% {
                -webkit-transform: translateY(100px);
                transform: translateY(100px);
                opacity: 0;
            }
        }
        @keyframes slide-in-bottom {
            0% {
                -webkit-transform: translateY(100px);
                transform: translateY(100px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
            }
        }
        @keyframes slide-out-left {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
                opacity: 0;
            }
        }
        @keyframes slide-in-left {
            0% {
                -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }
        @keyframes slide-in-left-slow {
            0% {
                -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 0.5;
            }
        }
        @keyframes slide-out-right {
            0% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
            100% {
                -webkit-transform: translateX(100px);
                transform: translateX(100px);
                opacity: 0;
            }
        }
        @keyframes slide-in-right {
            0% {
                -webkit-transform: translateX(100px);
                transform: translateX(100px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }
        @keyframes slide-in-top {
            0% {
                -webkit-transform: translateY(-225px);
                transform: translateY(-225px);
                opacity: 0;
            }
            100% {
                -webkit-transform: translateY(-150px);
                transform: translateY(-150px);
                opacity: 1;
            }
        }
        @keyframes slide-out-top {
            0% {
                -webkit-transform: translateY(-150px);
                transform: translateY(-150px);
                opacity: 1;
            }
            100% {
                -webkit-transform: translateY(-225px);
                transform: translateY(-225px);
                opacity: 0;
            }
        }
        @keyframes shake-horizontal {
            0%,
            100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            10%,
            30%,
            50%,
            70% {
                -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
            }
            20%,
            40%,
            60% {
                -webkit-transform: translateX(10px);
                transform: translateX(10px);
            }
            80% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
            }
            90% {
                -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
            }
        }

        .slide-out-bottom {
            animation: slide-out-bottom 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
            cursor: default;
            pointer-events: none;
            user-select: none;
        }
        .slide-in-bottom {
            animation: slide-in-bottom 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
            cursor: pointer;
            pointer-events: auto;
            user-select: auto;
        }
        .slide-out-left {
            animation: slide-out-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            cursor: default;
            pointer-events: none;
            user-select: none;
        }
        .slide-in-left {
            animation: slide-in-left 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            cursor: pointer;
            pointer-events: auto;
            user-select: auto;
        }
        .slide-in-left-slow {
            animation: slide-in-left-slow 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            cursor: pointer;
            pointer-events: auto;
            user-select: auto;
        }
        .slide-out-right {
            animation: slide-out-right 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            cursor: default;
            pointer-events: none;
            user-select: none;
        }
        .slide-in-right {
            animation: slide-in-right 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            cursor: pointer;
            pointer-events: auto;
            user-select: auto;
        }
        .slide-in-top {
            animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        .slide-out-top {
            animation: slide-out-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        .shake-horizontal {
            animation: shake-horizontal 30s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
        }


        @media only screen and (max-width: 600px) {
            body, html {
                overflow-x: hidden;
                height:100%;
            }
            h1 {
                padding-top:0;
                margin-bottom: 100px;
                top:60px;
            }
            img {
                max-width: 33%;
                height: auto;
                display:flex;
                opacity: 0.4;
            }
            #img1 {
                top: 70px;
                left: 10px;
            }
            #img2 {
                top: 150px;
                left: 210px;
            }
            #img3 {
                top: 300px;
                left: 30px;
            }
            #img4 {
                top: 400px;
                left: 210px;
            }
            #img5 {
                top: 550px;
                left: 60px;
            }
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        let loginForm = `<form action="/login" method="post" id="loginCred">
            <label><input type="text" placeholder="Email" name="email" id="email" required></label>
            <label><input type="password" placeholder="Password" name="password" required></label>
<label class="rememberMe"><input type="checkbox" value="lsRememberMe" id="rememberMe"><p>Remember me</p></label>
            <div class="back">
            <a onclick="animateReturn()"> &lt;Go Back</a>
            <label><input type="submit" value="Log in" onclick="lsRememberMe()"></label>
            </div>
            <div id="error-message" style="color: red;"></div>
        </form>`;

        let signupForm = `<form action="/signup" method="post" id="signupCred" enctype="multipart/form-data">
            <label><input type="text" placeholder="Username" name="username" required></label>
            <label><input type="text" placeholder="Email" name="email" required></label>
            <label><input type="password" placeholder="Password" name="password" required></label>
            <label><input type="password" placeholder="Confirm Password" name="passwordConfirm" required></label>
            <label class="custom-file-input">Upload Profile Picture<input type="file" placeholder="profile" name="profile" accept="image/*"></label>
            <div class="back">
                <a onclick="animateReturn()"> &lt;Go Back</a>
                <label><input type="submit" value="Sign up"></label>
            </div>
<div        id="error-message" style="color: red;"></div>
        </form>`;

        $(window).on("load", () => {
            setTimeout(function(){
                $(window).scrollTop(0);
            }, 10);
            let posters = <%- JSON.stringify(posters)%>
                $.each(posters, function(index, url) {
                    $("<img>", {
                        id: `img${index + 1}`,
                        src: "/posters/" + url.id + ".jpg",
                        alt: `${url}`
                    }).appendTo('body');
                });
            setTimeout(() => {
                $.each(["img1", "img2", "img3", "img4", "img5"], (index, value) => {
                    $(`#${value}`).removeClass("slide-in-left-slow").addClass("shake-horizontal")
                })
            }, 2000)
        })

        const rmCheck = $("#rememberMe")
        const email = $("#email")
        if (localStorage.checkbox && localStorage.checkbox !== "") {
            rmCheck.prop('checked', true);
            email.val(localStorage.username);
        } else {
            rmCheck.prop('checked', false);
            email.val("");
        }

        function lsRememberMe() {
            let rmCheck = $('#template').find("#rememberMe");
            let email = $('#template').find("#email");
            if (rmCheck.is(':checked') && email.val() !== "") {
                console.log("should work");
                localStorage.username = email.val();
                // Store 'true' or 'false' as a string because localStorage can only store strings
                localStorage.checkbox = rmCheck.is(':checked').toString();
            } else {
                localStorage.username = "";
                // Store 'false' as a string for consistency
                localStorage.checkbox = "false";
            }
        }

        function login() {
            // lsRememberMe();
            $('html, body').animate({ scrollTop: 100 }, 1500);
            $("#template").empty().append(loginForm)
            let rmCheck = $('#template').find("#rememberMe");
            let email = $('#template').find("#email");

            if (localStorage.checkbox === "true") {
                rmCheck.prop('checked', true);
                email.val(localStorage.username);
            } else {
                rmCheck.prop('checked', false);
                email.val("");
            }
            $("#loginCred").on("submit", function(event) {
                event.preventDefault();
                const formData = $(this).serialize();
                $.ajax({
                    url: '/login',
                    type: 'POST',
                    data: formData,
                    success: function(res) {
                        window.location.href = "dashboard/" + res.data.user.username;
                    },
                    error: function(response) {
                        // Handle error
                        // Display the error message from the response on your HTML page
                        $('#error-message').text(response.message);
                    }
                });
            })
            animate();
        }

        function signup() {
            $('html, body').animate({ scrollTop: 200 }, 1500);
            $("#template").empty().append(signupForm);
            animate();
        }

        function animate() {
            $("#google-auth").removeClass("slide-in-bottom").addClass("slide-out-bottom")
            $("#facebook-auth").removeClass("slide-in-bottom").addClass("slide-out-bottom")
            $("#breaker").removeClass("slide-in-bottom").addClass("slide-out-bottom")
            $("#login").removeClass("slide-in-left").addClass("slide-out-left")
            $("#signup").removeClass("slide-in-right").addClass("slide-out-right")
            $("#template").removeClass("slide-out-top").addClass("slide-in-top").removeClass("hidden")
        }
        function animateReturn() {
            $('html, body').animate({ scrollTop: 0 }, 1500);
            $("#google-auth").removeClass("slide-out-bottom").addClass("slide-in-bottom")
            $("#facebook-auth").removeClass("slide-out-bottom").addClass("slide-in-bottom")
            $("#breaker").removeClass("slide-out-bottom").addClass("slide-in-bottom")
            $("#login").removeClass("slide-out-left").addClass("slide-in-left")
            $("#signup").removeClass("slide-out-right").addClass("slide-in-right")
            $("#template").removeClass("slide-in-top").addClass("slide-out-top").addClass("hidden")
        }


    </script>
</head>
<body>

<div class="container">
    <h1>Welcome to MMDb</h1>
    <div id="buttons">
        <div class="login">
                <a onclick="login()" id="login">Login</a>
                <a onclick="signup()" id="signup">Signup</a>
        </div>
        <div id="breaker">
        <hr style="width: 33%; padding: 0">
        <p id="or">or</p>
        </div>
    <div class="auth">
        <a href="/auth/google" class="authLink"  id="google-auth">Signup using Google</a>
        <a href="/auth/facebook" class="authLink"  id="facebook-auth">Signup using Facebook</a>
    </div>
    </div>
    <div class="hidden cred" id="template">
    </div>
    </div>
</body>
</html>